* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    background-color: #ff6900;
}

.product_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 150px;
    padding-left: 20%;
    width: 80%;
}

.product {
    /* width: 30%; */
    background-color: white;
    margin-bottom: 100px;
    text-align: center;
    position: relative;
    margin-left: 20px;
}


.discount_label {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: red;
    color: white;
    font-size: 22px;
    margin-bottom: 40px;
}

.sustainability {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: green;
    color: white;
    font-size: 22px;
    margin-left: 60px;
    margin-bottom: 40px;
}

.hearth {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding-top: 40px;
   
}

.text {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;    
}

.new_price {
    color: red;
}

.old_price {
    text-decoration: line-through;
    color: grey;
}

/* REGOLE SPECIALI */

.product .img {
    max-width: 100%;
}


.afro_girl {
    width: 640px;
    height: 924px;
}

.sustainability_only {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: green;
    color: white;
    font-size: 22px;
    margin-bottom: 40px;
}

